<li>
	{{name}}

	<button class="change-eaten btn btn-info" data-id="{{id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}TAKE TO-GO{{else}}EAT HERE{{/if}}
	</button>

	<button class="delete-burger btn btn-info" data-id="{{this.id}}">DEVOUR!</button>
</li>